@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');

$link_color_light: rgb(101, 186, 255);
$link_color_white: rgb(255, 255, 255);

.description {
    text-align: center;
    padding-top: 54px;
    &__primary-text {
        font-size: 2.4rem;
        width: 100%;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 14px;
        &_iphone-xs {
            margin-top: 42px;
            background-image: url($assets-folder + 'iphone_xs_logo_hero_large_2x.png');
        }
        &_iphone-xr {
            background-image: url($assets-folder + 'iphone_xr_logo_hero_medium.png');
        }
        &_apple-watch {
            background-image: url($assets-folder + 'apple_watch_series_4_logo_hero_medium.jpg');
            height: 78px;
            @include tablet {
                height: 55px;
            }
            @include mobile {
                height: 47px;
            }
        }
        &_apple-music {
            background-image: url($assets-folder + 'music_medium.png');
            height: 31px;
            @include tablet {
                height: 25px;
            }
        }
    }
    &__secondary-text {
        margin-top: 3px;
        font-size: 1.4rem;
        @include mobile {
            & > br {
                display: none;
            }
        }
    }
    &__links-container {
        margin-top: 10px;
        font-size: 1.2rem;
    }
    &__links {
        &_dark {
            color: $link_color_dark;
        }
        &_light {
            color: $link_color_light;
        }
        &_white {
            color: $link_color_white;
        }
        &::after {
            content: "\f105";
            font-family: 'Font Awesome 5 Free';
            font-weight: 600;
            vertical-align: center;
            vertical-align: bottom;
        }    
        &_buy {
            padding-left: 30px;
        }
        &_simple-text {
            margin-top: 13.6px;
            color: rgb(204, 204, 204);
        }
    }
}