$font-size-base: 16px;
$base-font-color: rgb(0, 0, 0);
$burger-size: 20px;
$global-nav-height: 44px;
$page-content-width: 960px;
$logo-height: 60px;
$xs-screen: 480px;
$sm-screen: 720px;
$md-screen: 980px;
$lg-screen: 1068px;
$xl-screen: 1920px;
$assets_folder: './../../assets/images/lesson_6/';
$link_color_dark: rgb(0, 112, 201);


