.container {
    width: 800px;
    min-height: 800px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(100, 215, 35);
    border-radius: 2%;
    box-shadow: 3px 3px 15px rgba(130, 130, 130, .5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__switching-element-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 0;
        padding-top: 50px;
    }
    &__switching-element {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }
    &__device {
        width: 256px;
        height: 256px;
        background-image: url(../../assets/images/homework_10/nexus-one-off.png);
        &_on {
            position: relative;
            left: -3px;
            top: -1px;
            background-image: url(../../assets/images/homework_10/nexus-one-on.png);
        }
    }
    &__accordion-section {
        padding-top: 60px;
        flex-shrink: 0;
    }
}