.autocomplete {
    width: 100%;
    position: relative;
    &__input {
        width: 100%;
        background: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        padding-bottom: 8px;
        font-size: 16px;
    }
    &__list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(80, 80, 80);
        box-shadow: 0 0 10px rgba(80, 80, 80, 0.5);
        &_visible {
            display: block;
        }
    }
    &__list-item {
        padding: 5px;
        cursor: pointer;
        &:hover {
            background: rgb(200, 200, 200);
        }
    }
}