.weather-status {
    text-shadow: 1px 1px rgba(30, 30, 30, 0.5);
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-basis: 50%;
    }
    &__temperature {
        font-size: 3.5rem;
        flex-grow: 1;
        padding: 5px;
        &::after {
            content: '\2103';
        }
    }
    &__image-wrapper {
        flex-grow: 1;
        overflow: hidden;
        &_image {
            width: 80px;
            height: 80px;
        }
    }
    &__description {
        font-size: 1.5rem;
        text-align: center;
    }
}