* {
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: rgb(80, 80, 80);
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  color: rgb(78, 86, 101);
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.page-wrapper {
  max-width: 2200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
}

.page-footer {
  height: 150px;
  background-color: green;
}