* {
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; }

body {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0; }
.main {
  -ms-flex-positive: 2;
      flex-grow: 2;
  height: 100vh;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  width: 100%;
  transition: margin-left .5s;
  padding: 16px; }
  .main__narrowed {
    margin-left: 250px; }
  .main__openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none; }
    .main__openbtn:hover {
      background-color: #444; }
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .sidebar__closed {
    width: 0; }
  .sidebar__link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
    .sidebar__link:hover {
      color: #f1f1f1; }
  .sidebar__closebtn {
    position: absolute;
    cursor: pointer;
    color: #818181;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
    .sidebar__closebtn:hover {
      color: #f1f1f1; }
