* {
  box-sizing: border-box; }

html {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: #505050; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh; }

h1,
h2,
h3,
h4,
p, figure {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  display: inline-block; }

.col {
  padding-top: 5px;
  padding-bottom: 5px; }

.col-1 {
  width: 8.33333%;
  -ms-flex-preferred-size: 8.33333%;
      flex-basis: 8.33333%;
  padding-right: 5px;
  padding-left: 5px; }

@media (max-width: 719.9px) {
  .col-xs-1 {
    width: 8.33333%;
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
    padding-right: 5px;
    padding-left: 5px; } }

.col-2 {
  width: 16.66667%;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  padding-right: 5px;
  padding-left: 5px; }

@media (max-width: 719.9px) {
  .col-xs-2 {
    width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
    padding-right: 5px;
    padding-left: 5px; } }

.col-3 {
  width: 25.0%;
  -ms-flex-preferred-size: 25.0%;
      flex-basis: 25.0%;
  padding-right: 5px;
  padding-left: 5px; }

@media (max-width: 719.9px) {
  .col-xs-3 {
    width: 25.0%;
    -ms-flex-preferred-size: 25.0%;
        flex-basis: 25.0%;
    padding-right: 5px;
    padding-left: 5px; } }

.col-4 {
  width: 33.33333%;
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
  padding-right: 5px;
  padding-left: 5px; }

@media (max-width: 719.9px) {
  .col-xs-4 {
    width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    padding-right: 5px;
    padding-left: 5px; } }

.col-5 {
  width: 41.66667%;
  -ms-flex-preferred-size: 41.66667%;
      flex-basis: 41.66667%;
  padding-right: 5px;
  padding-left: 5px; }

@media (max-width: 719.9px) {
  .col-xs-5 {
    width: 41.66667%;
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
    padding-right: 5px;
    padding-left: 5px; } }

.col-6 {
  width: 50.0%;
  -ms-flex-preferred-size: 50.0%;
      flex-basis: 50.0%;
  padding-right: 5px;
  padding-left: 5px; }

@media (max-width: 719.9px) {
  .col-xs-6 {
    width: 50.0%;
    -ms-flex-preferred-size: 50.0%;
        flex-basis: 50.0%;
    padding-right: 5px;
    padding-left: 5px; } }

.col-7 {
  width: 58.33333%;
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  padding-right: 5px;
  padding-left: 5px; }

@media (max-width: 719.9px) {
  .col-xs-7 {
    width: 58.33333%;
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
    padding-right: 5px;
    padding-left: 5px; } }

.col-8 {
  width: 66.66667%;
  -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%;
  padding-right: 5px;
  padding-left: 5px; }

@media (max-width: 719.9px) {
  .col-xs-8 {
    width: 66.66667%;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    padding-right: 5px;
    padding-left: 5px; } }

.col-9 {
  width: 75.0%;
  -ms-flex-preferred-size: 75.0%;
      flex-basis: 75.0%;
  padding-right: 5px;
  padding-left: 5px; }

@media (max-width: 719.9px) {
  .col-xs-9 {
    width: 75.0%;
    -ms-flex-preferred-size: 75.0%;
        flex-basis: 75.0%;
    padding-right: 5px;
    padding-left: 5px; } }

.col-10 {
  width: 83.33333%;
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  padding-right: 5px;
  padding-left: 5px; }

@media (max-width: 719.9px) {
  .col-xs-10 {
    width: 83.33333%;
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
    padding-right: 5px;
    padding-left: 5px; } }

.col-11 {
  width: 91.66667%;
  -ms-flex-preferred-size: 91.66667%;
      flex-basis: 91.66667%;
  padding-right: 5px;
  padding-left: 5px; }

@media (max-width: 719.9px) {
  .col-xs-11 {
    width: 91.66667%;
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
    padding-right: 5px;
    padding-left: 5px; } }

.col-12 {
  width: 100.0%;
  -ms-flex-preferred-size: 100.0%;
      flex-basis: 100.0%; }

@media (max-width: 719.9px) {
  .col-xs-12 {
    width: 100.0%;
    -ms-flex-preferred-size: 100.0%;
        flex-basis: 100.0%; } }

.global-nav {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  height: 44px;
  position: fixed;
  padding: 0 1rem; }
  .global-nav__link {
    text-align: center;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    color: #ffffff; }
  .global-nav__menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 960px;
    width: 100%;
    opacity: 1;
    visibility: visible; }
  .global-nav__item {
    -ms-flex: 1 1;
        flex: 1 1;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem; }
  .global-nav_default {
    background-color: rgba(0, 0, 0, 0.8); }
  .global-nav_darken {
    background-color: rgba(0, 0, 0, 0.8); }
  .global-nav__mobile-controls {
    display: none;
    width: 100%;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }

.burger {
  height: 20px;
  width: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.burger__raw {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transition: all 500ms; }

@media (max-width: 575px) {
  .global-nav__mobile-controls {
    display: -ms-flexbox;
    display: flex; }
  .global-nav__item {
    padding: 0;
    opacity: 0;
    width: 100%;
    transition: opacity 500ms;
    transition-delay: 100ms; }
  .global-nav__link {
    padding: 1rem 0;
    border-bottom: 1px solid white;
    width: 100%; }
  .global-nav_opened .global-nav__item {
    opacity: 1; }
  .global-nav__menu {
    visibility: hidden;
    -ms-transform: scaleY(0);
        transform: scaleY(0);
    position: absolute;
    top: 44px;
    left: 0;
    display: block;
    background-color: black;
    padding: 0 34px;
    height: calc(100vh - 44px);
    -ms-transform-origin: top center;
        transform-origin: top center;
    transition: all 500ms; }
  .global-nav_opened > .global-nav__menu {
    visibility: visible;
    -ms-transform: scaleY(1);
        transform: scaleY(1); }
  .global-nav__link_with_image {
    display: none; }
  .global-nav__link {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .global-nav__cart {
    visibility: visible;
    opacity: 1;
    transition: all 500ms;
    transition-delay: 100ms; }
  .global-nav_opened .global-nav__cart {
    opacity: 0;
    visibility: hidden; }
  .global-nav_opened .burger__raw:first-child {
    -ms-transform: translateY(5px) rotate(-45deg);
        transform: translateY(5px) rotate(-45deg); }
  .global-nav_opened .burger__raw:last-child {
    -ms-transform: translateY(-5px) rotate(45deg);
        transform: translateY(-5px) rotate(45deg); } }

.global-wrapper {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer {
  background-color: #f2f2f2;
  height: 100px;
  width: 100%; }

.promo {
  position: relative;
  z-index: -1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background: #fafafa;
  width: 100%;
  min-height: 580px; }
  @media (max-width: 1067.9px) {
    .promo {
      min-height: 500px; } }
  @media screen and (min-width: 720px) {
    .promo_horizontal {
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }
  .promo_theme-dark {
    background-color: black;
    color: white; }
  .promo__description {
    background: green;
    width: 100px;
    height: 100px; }
  .promo__image-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    width: 100%; }
    .promo__image-wrapper_full-size {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: -1; }
    .promo__image-wrapper_ipad {
      height: 335px;
      width: 515px;
      background-image: url(./assets/images/ipad_large_2x.jpg); }
      @media (max-width: 979.9px) {
        .promo__image-wrapper_ipad {
          width: 100%;
          background-size: contain;
          background-image: url(./assets/images/ipad_medium.jpg); } }
    .promo__image-wrapper_macbook {
      background-image: url(./assets/images/macbook_pro_performance_medium.jpg); }
    .promo__image-wrapper_homepod {
      width: 317px;
      height: 331px;
      background-image: url(./assets/images/homepod_medium.jpg); }
    .promo__image-wrapper_give-back {
      background-image: url(./assets/images/give_back_medium.jpg); }
    .promo__image-wrapper_airpods {
      max-width: 417px;
      height: 387px;
      background-image: url(./assets/images/airpods_medium.jpg); }
    .promo__image-wrapper_apple-music {
      background-image: url(./assets/images/apple_music_large.jpg); }
      @media (max-width: 719.9px) {
        .promo__image-wrapper_apple-music {
          background-image: url(./assets/images/apple_music_small_2x.jpg); } }
    .promo__image-wrapper_apple-watch {
      max-width: 404px;
      height: 738px;
      background-position: left center;
      background-image: url(./assets/images/apple_watch_series_4_medium.jpg); }
      @media (max-width: 719.9px) {
        .promo__image-wrapper_apple-watch {
          height: 309px;
          background-image: url(./assets/images/apple_watch_series_4_small_2x.jpg);
          background-position: center; } }
    .promo__image-wrapper_iphone-xr {
      height: 446px;
      max-width: 1020px;
      background-position-y: bottom;
      background-size: contain;
      background-image: url(./assets/images/iphone_xr_medium.jpg); }
      @media (max-width: 719.9px) {
        .promo__image-wrapper_iphone-xr {
          height: 332px;
          background-image: url(./assets/images/iphone_xr_small_2x.jpg); } }
    .promo__image-wrapper_iphone-xs {
      max-width: 974px;
      height: 415px;
      background-size: contain;
      background-image: url(./assets/images/hero-iphone-xs_large_2x.jpg); }
      @media (max-width: 719.9px) {
        .promo__image-wrapper_iphone-xs {
          height: 331px;
          background-image: url(./assets/images/hero-iphone-xs_small_2x.jpg); } }
