@import url(https://use.fontawesome.com/releases/v5.0.0/css/all.css);* {
  box-sizing: border-box; }

html {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: #505050; }

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

h1,
h2,
h3,
h4,
p, figure {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  display: inline-block; }

.global-nav {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  height: 44px;
  position: fixed;
  padding: 0 1rem; }
  .global-nav__link {
    text-align: center;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    color: #ffffff; }
  .global-nav__menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 960px;
    width: 100%;
    opacity: 1;
    visibility: visible; }
  .global-nav__item {
    -ms-flex: 1 1;
        flex: 1 1;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem; }
  .global-nav_default {
    background-color: rgba(0, 0, 0, 0.8); }
  .global-nav_darken {
    background-color: black; }
  .global-nav__mobile-controls {
    display: none;
    width: 100%;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }

.burger {
  height: 20px;
  width: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.burger__raw {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transition: all 500ms; }

@media (max-width: 575px) {
  .global-nav__mobile-controls {
    display: -ms-flexbox;
    display: flex; }
  .global-nav__item {
    padding: 0;
    opacity: 0;
    width: 100%;
    transition: opacity 500ms;
    transition-delay: 100ms; }
  .global-nav__link {
    padding: 1rem 0;
    border-bottom: 1px solid white;
    width: 100%; }
  .global-nav_opened .global-nav__item {
    opacity: 1; }
  .global-nav__menu {
    visibility: hidden;
    -ms-transform: scaleY(0);
        transform: scaleY(0);
    position: absolute;
    top: 44px;
    left: 0;
    display: block;
    background-color: black;
    padding: 0 34px;
    height: calc(100vh - 44px);
    -ms-transform-origin: top center;
        transform-origin: top center;
    transition: all 500ms; }
  .global-nav_opened > .global-nav__menu {
    visibility: visible;
    -ms-transform: scaleY(1);
        transform: scaleY(1); }
  .global-nav__link_with_image {
    display: none; }
  .global-nav__link {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .global-nav__cart {
    visibility: visible;
    opacity: 1;
    transition: all 500ms;
    transition-delay: 100ms; }
  .global-nav_opened .global-nav__cart {
    opacity: 0;
    visibility: hidden; }
  .global-nav_opened .burger__raw:first-child {
    -ms-transform: translateY(5px) rotate(-45deg);
        transform: translateY(5px) rotate(-45deg); }
  .global-nav_opened .burger__raw:last-child {
    -ms-transform: translateY(-5px) rotate(45deg);
        transform: translateY(-5px) rotate(45deg); } }

.section {
  width: 100%;
  min-height: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: stretch;
      align-items: stretch;
  padding: 0 1rem; }
  .section_dark {
    color: white;
    background: black; }
  .section_white {
    color: black;
    background: #fafafa; }
  .section_test {
    background: red; }
  .section_iphone-xs {
    padding-top: 92px;
    padding-bottom: 40px; }
  .section_red-cross {
    padding: 50px 0; }
  .section_iphone-xr {
    padding-top: 70px; }
  .section__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    max-width: 960px; }
    .section__content_aligment_vertical {
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center; }
  .section__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom; }
    .section__image_iphone-xs {
      height: 300px;
      width: 80%;
      background-image: url(./assets/images/hero-iphone-xs_large_2x.jpg); }
      @media (max-width: 979.9px) {
        .section__image_iphone-xs {
          height: 500px;
          width: 100%;
          background-image: url(./assets/images/hero-iphone-xs_small_2x.jpg); } }
    .section__image_iphone-xr {
      height: 300px;
      width: 80%;
      background-image: url(./assets/images/iphone_xr_medium.jpg); }
    .section__image_apple-watch {
      margin-left: 50px;
      width: 50%;
      height: 617px;
      background-image: url(./assets/images/apple_watch_series_4_medium.jpg); }

.description {
  text-align: center; }
  .description__title {
    margin-bottom: 10px; }
    .description__title_small {
      font-size: 1.9rem;
      font-weight: normal; }
  .description__image {
    height: 34px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
    .description__image_xs-logo {
      background-image: url(./assets/images/iphone_xs_logo_hero_large_2x.png); }
    .description__image_red-cross {
      height: 60px;
      background-image: url(./assets/images/logo_arc_medium.jpg); }
    .description__image_xr-logo {
      background-image: url(./assets/images/iphone_xr_logo_hero_medium.png); }
    .description__image_apple-watch {
      height: 60px;
      background-image: url(./assets/images/apple_watch_series_4_logo_hero_medium.jpg); }
  .description__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
  .description__more {
    font-size: 1.5rem;
    padding: 0px 10px;
    color: #66bbff; }
    .description__more::after {
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: "\F105";
      margin-left: 5px; }
  .description__secondary-text {
    font-size: 1.2rem;
    color: #cccccc; }
  .description_iphone-xr {
    padding-bottom: 50px; }
  .description_apple-watch {
    margin-top: 20px; }

.container {
  padding: 5px; }
  .container_col_2 {
    width: 50%;
    min-height: 490px; }
